<!-- <div #htmlElement>
    This is an element
</div> -->

<!-- <app-child #childComp>app child content</app-child> -->

<app-child #childrenComp>
    This content passed from view-example
    <app-child-content #topThree></app-child-content>
    <app-child-content #topTwo></app-child-content>
    <app-child-content #topThree></app-child-content>
    <app-child-content></app-child-content>
    <app-child-content></app-child-content>
</app-child>

<app-child #childrenComp>
    <app-child-content></app-child-content>
</app-child>
<app-child></app-child>