<!-- <app-single-slot>
  <p>Body section</p>
  <p>Body section</p>
  <p>Body section</p>
  <p>Body section</p>
  <p>Body section</p>
  <p>Body section</p>
</app-single-slot> -->

<!-- <app-multi-slot>
  <div lower>
    Lower
    with other components
  </div>
  <div mid>Middle</div>
  <div upper>Upper</div>

  <div class="class-display">ShowHide component</div>
  
  <div class="class-hide">Hide this</div>
</app-multi-slot>

<ng-container [ngTemplateOutlet]="template1"></ng-container>

<ng-template #template1>
  <div>Complete parts...</div>
  <div>Work in progress...</div>
</ng-template> -->

<!-- <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{name:name, age:age}"></ng-container> -->
<!-- <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{name, age}"></ng-container> -->
<!-- <ng-container [ngTemplateOutlet]="messageTemplate" [ngTemplateOutletContext]="{$implicit, age}"></ng-container>

<ng-template #messageTemplate let-name let-age="age" let-anyotheratt>
  <p>Values receive: {{name}} {{age}} {{anyotheratt}}</p>
</ng-template> -->

<!-- <app-template-example></app-template-example> -->

<app-view-example></app-view-example>